/* slider ------------------------------------------------- */

.slider {
	width: 100%;
	height: calc(100vh - 5em);
	position: relative;
	overflow: hidden;
}

.slider::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg, rgba(30, 30, 30, 0.3) 0%, rgba(30, 30, 30, 0.6) 100%);
	z-index: 1;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	background-size: cover, cover;
	background-attachment: fixed;
	transition: opacity 0.4s ease-in-out;
}

.slide.current {
	opacity: 1;
}

.slide .content {
	position: absolute;
	top: 0;
	left: 50%;
	width: 65ch;
	color: var(--clr-darkish-black);
	text-align: center;
	opacity: 0;
	transform: translate(-50%, -50%);
	padding: 1.8em;
	background-color: rgba(253, 250, 250, 0.75);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.slide .content p {
	line-height: 1.4;
	margin-top: 0.5em;
}

.slide.current .content {
	opacity: 1;
	top: 40%;
	transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next,
.buttons button#prev {
	position: absolute;
	top: 45%;
	z-index: 2;
}

.buttons button#next {
	right: 3rem;
}

.buttons button#prev {
	left: 3rem;
}

.buttons button#prev i {
	margin-left: -3px;
}

.buttons button {
	border: 2px solid #fff;
	background-color: transparent;
	width: 3rem;
	height: 3rem;
	color: #fff;
	cursor: pointer;
	padding: 15px;
	border-radius: 100vh;
	outline: none;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9));
}

.buttons button:hover {
	background-color: #fff;
	color: #333;
}

.slide:first-child {
	background-image: url("../../assets/img/slider/img1.jpg");
}
.slide:nth-child(2) {
	background-image: url("../../assets/img/slider/img2.jpg");
}
.slide:nth-child(3) {
	background-image: url("../../assets/img/slider/img3.jpg");
}
.slide:nth-child(4) {
	background-image: url("../../assets/img/slider/img4.jpg");
}

/* produkty ----------------------------------------------- */

.products {
	height: var(--section-height);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem 8.5rem;
}

.products .text {
	text-align: center;
	width: 70ch;
	color: var(--clr-darkish-black);
}

.products-container {
	display: flex;
	width: inherit;
	justify-content: space-between;
	margin: 0.7em 0;
}

.product {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-width: 11em;
	width: 22%;
	height: 27em;
	background-color: white;
	color: var(--clr-darkish-black);
	margin: 0 0em;
	padding: 0.3em 0.3em 1em 0.3em;
	outline: 1px solid #f0741d;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	transition: outline 150ms ease-in-out;
}

.product:hover,
.product:focus {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-img-wrapper {
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 40%;
	width: 100%;
	margin-bottom: 1em;
}

.product-img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.product-content-wrapper {
	padding: 0.7em;
	width: 100%;
}

.product-title {
	font-size: 1.3rem;
	margin-bottom: 0.65em;
}

.product-desc {
	width: 100%;
	line-height: 1.3;
	height: 10em;
}

.see-more {
	width: 100%;
	text-align: right;
	margin-top: auto;
	margin-right: 0.7em;
}

.see-more-btn {
	color: var(--clr-main-accent);
	font-size: 1rem;
	text-decoration: none;
	text-align: right;
	outline: none;
	opacity: 0.85;
}

.see-more-btn:hover,
.see-more-btn:focus {
	text-decoration: underline;
	opacity: 1;
}

.all-products-btn {
	margin: 0.15em 0 0.75em 0;
}
